
.quill-fs-20{
	font-size: 20px;
}


.calculus_btn_class{
    width: 56px;
    height: 40px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(142, 125, 125, 0.5);
    border-radius: 6px;
    outline:none;
    border:none;
    transition: all 80ms
}
.calculus_btn_class:focus {
    outline: 0 !important;
}
.calculus_btn_class:hover {
    box-shadow: none;
}

.calculus_btn_class:active {
    position: relative;
    top:1px;
}

.mathquill-editable {
   background: #FFFFFF;
   border: 1px solid #FFB846;
   box-sizing: border-box;
   border-radius: 6px;
}

